body{
    background-image:url("../img/borrow.png");
    background-repeat:no-repeat;
    background-size: 1000px 800px;
}

#share{
    width: 500px;
}
#borrowlogo{
    width: 150px;
    height: 100px;
}
h2{
    position: relative;
    top: 20px;
    left: 100px;
}
#tip{
    text-align: right;
      color: pink;
}

#borrowTable{
   position: relative;
    left: 220px;
    top: 70px;
    font-size: large;
}

/*.col-md-2{*/
    /*border: 5px;*/
/*}*/

