body{
    background-image: url("../img/borrow.png");
    background-size: 1000px 800px;
    background-repeat:no-repeat;
}

h2{
    position: relative;
    left: 100px;
    top: 40px;
}

#div2{
    position: relative;
    left: 120px;
    top: 50px;
}
table,th,td{
    height: 50px;
}